html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: rgb(248, 248, 248);
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
/*======= Whole Page CSS =======*/
.page {
  max-width: 1000px; /* controls content width */
  margin: 0 auto; /* centers content */
  padding: 0 0 0 0; /* space from screen edges */
  display: flex;
  flex-direction: column;
}
.heading-txts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(18px, 5.5vw, 22px);
  font-weight: 400;
  color: red;
  margin-bottom: 20px;
}
/*======= nav bar =======*/
nav {
  background-color: rgb(248, 248, 248);
  border-bottom: solid 0.5px rgb(226, 226, 226);
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}
nav ul {
  width: 100%;
  max-width: 1000px;
  list-style: none;
  display: flex;
  justify-content: space-between; /* space left/right links */
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}
nav li {
  height: 50px;
  font-weight: 500;
  font-family: sans-serif;
}
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: grey;
}
nav a:hover {
  color: red;
}
nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 240px;
  z-index: 999;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li,
.sidebar a {
  width: 100%;
}
.sidebar img {
  filter: brightness(0) saturate(100%); /* Makes any color into pure black */
}
.menu-btn {
  display: none;
}
.menu-btn img {
  filter: brightness(0) saturate(100%); /* Makes any color into pure black */
}
.name-logo {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(37, 37, 37);
}
.name-logo span {
  color: red;
}

/* Hero section */
.hero-section {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  margin: 0 40px;
}
.profile-pic {
  width: 160px;
  border: solid 0.5px rgb(255, 47, 47);
  box-shadow: 0 10px 25px rgba(255, 20, 20, 0.296);
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 20px;
}
.name-txt {
  font-size: clamp(50px, 5vw, 70px);
  font-family: sans-serif;
}
.role-txt {
  font-family: sans-serif;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: rgb(215, 0, 0);
}
.intro-txt {
  font-family: sans-serif;
  margin-top: 25px;
  color: rgb(87, 87, 87);
}
.CTA-btns {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
  gap: 3%;
}
.view-project-btn {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
  background-color: red;
  color: white;
  transition: 0.2s;
}
.view-project-btn a {
  text-decoration: none;
  color: white;
}
.view-project-btn:hover {
  cursor: pointer;
  background-color: rgb(160, 0, 0);
}
.get-touch-btn {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 6px;
  border: solid 0.5px rgb(193, 193, 193);
  background: none;
  transition: 0.2s;
}
.get-touch-btn:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}
/* About section */
.about-main-div {
  padding: 15vh 3%;
}
.about-content-main-div {
  display: flex;
  margin-top: 20px;
  gap: 4%;
}
.about-content-left {
  flex: 1;
}
.about-content-left p {
  line-height: 26px;
  color: rgb(87, 87, 87);
}
.about-content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8%;
}
.about-content-right i {
  display: flex;
  font-size: 18px;
  color: red;
  width: 40px;
  background-color: rgba(255, 98, 98, 0.082);
  align-content: center;
  justify-content: center;
  padding: 9px 0 0 0;
  border-radius: 6px;
  height: 27px;
}
.about-right-info-div {
  display: flex;
  height: auto;
  gap: 5%;
}
.about-right-info-div h3 {
  font-weight: 400;
  font-size: clamp(11px, 5.5vw, 17px);
}
.about-right-info-div p {
  font-size: clamp(11px, 5.5vw, 12px);
  color: rgb(39, 39, 39);
}
/* Skill div */
.skills-main-div {
  padding: 15vh 3%;
  width: 95%;
}
.all-skills-div {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.individual-skills-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.individual-skills-div h3 {
  margin-bottom: 20px;
}
.individual-skills-div span {
  color: rgb(97, 97, 97);
  font-size: clamp(11px, 5.5vw, 15px);
}
/* Projects part */
.projects-main-section {
  padding: 15vh 3%;
}
.projects-main-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-card-upper-div,
.projects-card-lower-div {
  display: flex;
  gap: 2%;
}
.projects-cards-main-div {
  background-color: #fdfdfd;
  flex: 1;
  padding: 20px;
  border-radius: 6px;
  border: solid 0.5px rgb(231, 231, 231);
}
.project-title-txt {
  font-size: clamp(16px, 5.5vw, 20px);
  margin-bottom: 18px;
}
.project-description {
  font-size: clamp(9px, 5.5vw, 13px);
  line-height: 18px;
  letter-spacing: 1px;
  color: rgb(42, 42, 42);
  margin-bottom: 10px;
}
.project-stacks-div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 20px;
}
.project-stacks-div span {
  background-color: rgba(255, 98, 98, 0.082);
  font-size: 10px;
  padding: 4px 10px;
  color: red;
  border-radius: 20px;
}
.arrow-direct-img {
  width: 20px;
}

.view-proj-anchor-link {
  display: flex;
  gap: 1%;
  text-decoration: none;
  color: red;
  font-size: clamp(11px, 5.5vw, 14px);
  align-items: center;
}
/* academics */
.academics-section {
  padding: 15vh 3%;
}
/*======== Responsiveness =======*/
@media (max-width: 760px) {
  .hideOnMobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }

  .about-content-main-div {
    flex-direction: column;
    gap: 30px;
  }
  .about-content-right {
    gap: 20px;
  }
  .projects-card-upper-div,
  .projects-card-lower-div {
    flex-direction: column;
    gap: 20px;
  }
}
