body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  
}
.page-header{
   background-color: rgb(250, 250, 250);
   border-bottom: solid 0.2px rgb(208, 208, 208);
   display: flex;
   justify-content: center;
   height: 190px;
    display: flex;
    gap: 18px;
    padding-bottom: 2%;
    padding-top: 2%;
    
   
}
.page {
    max-width: 950px;     /* controls content width */
    margin: 0 auto;        /* centers content */
    padding: 0px 20px;    /* space from screen edges */
}

.header{
    height: 150px;
    display: flex;
    gap: 18px;
    align-items: flex-start;
    margin-bottom: 3%;

  
}
.my-pic-div{
    display: inline-block;
    height: 100% ; 
    border: solid 0.5px rgb(224, 224, 224);
    border-radius: 10px;
   
    
}
.my-pic{
    height: 100%;
    width: 180px;
    object-fit: cover;
    
}
.my-info{
    width: auto;
    vertical-align: top;
    height: 93%;
    padding-top: 10px;
    
    
}.name,.address,.position{
    margin: 0;
    width: auto;
    
}
.name{
    font-size: clamp(9px, 5.5vw, 40px);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    
}   
.address{
   font-size: clamp(9px, 2.5vw, 14px);
    margin-bottom: 15px;
    color: rgb(45, 45, 45);
    font-family: Arial, Helvetica, sans-serif;
     white-space: nowrap;      /* DO NOT wrap */
    overflow: hidden;         /* prevent overlap */
    text-overflow: ellipsis;  /* optional ... */

    line-height: 1.2;

}
.position{
    font-size: clamp(8px, 2.5vw, 17px);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500 ;
    color: rgb(58, 58, 58);

}
.address i{
    margin-right: 3px;
}
.body-main-div{
    display: flex;    /* controls content width */
    margin: 0 auto;        /* centers content */    
    margin-top: 2%;
    height: auto;
    gap: 1%;
    

}
.body-info-div{
    border: solid 0.5px rgb(216, 216, 216);
    height: auto;
    border-radius: 20px;
    flex: 2;
    padding: 15px;
}
.skills-main-div{
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2%;
   
    
}
.tech-skills-main-div{
    border: solid 0.5px rgb(216, 216, 216);
    height: 100%;
    border-radius: 20px;
    padding: 15px;
   background-color: rgb(250, 250, 250);
}

@media (max-width: 550px) {
    .body-main-div{
        height: 600px;
        flex-direction: column;
    }
   
}
.about-text{
    font-size: clamp(15px, 6vw, 15px);
    font-family: Arial, Helvetica, sans-serif;
}
.about-text i{
    font-size: 15px;
}
.about-me-details{
    font-size: 15px;
    line-height: 27px;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;   /* includes padding in width */
    word-wrap: break-word;    /* breaks long words */
    overflow-wrap: break-word;/
   
}
.tech-skills-text{
    font-size: clamp(15px, 6vw, 15px);
    font-family: Arial, Helvetica, sans-serif;
    
}
.tech-skills-text i{
    font-size: 15px;
}
.frontend-text{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(62, 62, 62);
    margin-top: 0;
}
.frontend-skills-div{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.frontend-skills-div span{
    border: solid 0.5px rgb(219, 219, 219);
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 12px;
}
.embedded-text{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(62, 62, 62);
}
.embedded-skills-div{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.embedded-skills-div span{
    border: solid 0.5px rgb(219, 219, 219);
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 12px;
}
.tools-skill-text{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(62, 62, 62);
}
.tools-skills-div{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.tools-skills-div span{
    border: solid 0.5px rgb(219, 219, 219);
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 12px;
}
