body{
    margin: 0;
    padding: 0;
   
}
.header{
    max-width: 900px;
    margin: 0 auto; 
    height: auto;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
    padding-top: 40px;
    
    
}
.my-pic{
    width: 130px;
    border: solid black 2px;
    border-radius: 20px;
   
    
}
.info{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.name,.address,.position,.contacts-below{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 29px;
    margin: 0;
    
}
.name{
    margin-top: 10px;
    font-size: 40px;
    
}
.address{
    font-size: 15px;
    color: grey;
}
.position{
    font-size: 14px;
    font-weight: bold;
    color: grey;
    padding-bottom: 20px;
}

@media (max-width: 668px) {
    .my-pic {
        width: 90px;
    }

    .name {
        font-size: 20px;
    }

    .address {
        font-size: 13px;
    }

    .position {
        font-size: 12px;
    }

    .contacts-below {
        font-size: 14px;
    }
}
@media (max-width: 1200px) {
    .header {
        margin: 0 20px;   /* keeps space on small screens */
    }
}
.main-body{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: aqua;
    height: 1000px;
}
