body{
    margin: 0;
    padding: 0;
   
}
.page {
    max-width: 900px;     /* controls content width */
    margin: 0 auto;        /* centers content */
    padding: 40px 20px;    /* space from screen edges */
}

.header{
    height: 170px;
    display: flex;
    gap: 22px;
    align-items: flex-start;
   
  
}
.my-pic-div{
    display: inline-block;
    height: 100% ; 
    border: solid 0.5px rgb(200, 200, 200);
    border-radius: 10px;
   
    
}
.my-pic{
    height: 100%;
    width: 150px;
    object-fit: cover;
    
}
.my-info{
    display: inline-block;
    width: 500px;
    vertical-align: top;
    height: 93%;
    padding-top: 15px;
    
}.name,.address,.position{
    margin: 0;
    line-height: 25px;
    
}
.name{
    font-size: clamp(16px, 6vw, 40px);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    
}   
.address{
   font-size: clamp(11px, 3vw, 14px);
    margin-bottom: 15px;
    color: rgb(45, 45, 45);
    font-family: Arial, Helvetica, sans-serif;
     white-space: nowrap;      /* DO NOT wrap */
    overflow: hidden;         /* prevent overlap */
    text-overflow: ellipsis;  /* optional ... */

    line-height: 1.2;

}
.position{
    font-size: clamp(12px, 3vw, 19px);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500 ;
    color: rgb(58, 58, 58);

}
.address i{
    margin-right: 3px;
}
.body-main-div{
    display: flex;    /* controls content width */
    margin: 0 auto;        /* centers content */    
    margin-top: 2%;
    height: auto;
    gap: 15px;
    

}
.body-info-div{
    border: solid 0.5px rgb(200, 200, 200);
    height: auto;
    border-radius: 20px;
    flex: 1;
    padding: 15px;
}
.skills-main-div{
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.tech-skills-main-div{
    border: solid 0.5px rgb(200, 200, 200);
    height: auto;
    border-radius: 20px;
    padding: 15px;
}
.personal-skills-main-div{
    border: solid 0.5px rgb(200, 200, 200);
    height: 40%;
    border-radius: 20px;
    padding: 15px;
}

@media (max-width: 550px) {
    .body-main-div{
        height: 600px;
        flex-direction: column;
    }
   
}
.about-text{
    font-size: clamp(15px, 6vw, 15px);
    font-family: Arial, Helvetica, sans-serif;
}
.about-text i{
    font-size: 15px;
}
.about-me-details{
    font-size: 15px;
    line-height: 27px;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;   /* includes padding in width */
    word-wrap: break-word;    /* breaks long words */
    overflow-wrap: break-word;/
   
}
.tech-skills-text{
    font-size: clamp(15px, 6vw, 15px);
    font-family: Arial, Helvetica, sans-serif;
}
.tech-skills-text i{
    font-size: 15px;
}
.frontend-text{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(62, 62, 62);
}
.frontend-skills-div{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 5px;
}
.frontend-skills-div span{
    border: solid 0.5px rgb(219, 219, 219);
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 12px;
}
.embedded-text{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(62, 62, 62);
}
.embedded-skills-div{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 5px;
}
.embedded-skills-div span{
    border: solid 0.5px rgb(219, 219, 219);
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 12px;
}
.personal-skills-text i{
    font-size: 15px;
    margin-right: 5px;
}
.personal-skills-text{
    font-size: clamp(15px, 6vw, 15px);
    font-family: Arial, Helvetica, sans-serif;
}
.personal-skills-span-div span{
    border: solid 0.5px rgb(219, 219, 219);
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}